
<a href="">Log in here</a>
<h1>Restaurants</h1> 
<div class="container">
    <div class="col-6">
        <table >
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Restaurant Type</th>
                    <th>Restaurant Cuisine</th>
                    <th>Average Raiting</th>
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rest of allRestaurants">
                    <td>{{rest.name}}</td>
                    <td>{{rest.type}}</td>
                    <td>{{rest.culture}}</td>
                    <td>{{rest. avgRevNum}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>

